@{
    Layout="Shared/_Layout.cshtml";
}

<h1>Add a CD</h1>
<form action="/cds" method="post">
    <label for="cd-title">CD Title</label>
    <input id="cd-title" name="cd-title" type="text">
    <label for="cd-artist">CD Artist</label>
    <input id="cd-artist" name="cd-artist" type="text">
    <label for="cd-year">CD Year</label>
    <input id="cd-year" name="cd-year" type="number">
    <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a>
